@use './variables' as vars;

.error-message {
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin: 50px 16px;
  background-color: #ffecec;
  color: vars.$color-error;
  border-right: 2px solid vars.$color-error;
  border-bottom: 2px solid vars.$color-error;
  border-radius: vars.$radius-box;
  font-size: 15px;
  @media screen and (min-width: vars.$breakpoint-md) {
    margin: 50px auto;
  }

  &__icon {
    min-width: 30px;
    height: 30px;
    display: inline;
    fill: vars.$color-error;
  }

  &__text {
    margin: 0;
    line-height: 1;
  }
}