.error-message {
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin: 50px 16px;
  background-color: #ffecec;
  color: #b00020;
  border-right: 2px solid #b00020;
  border-bottom: 2px solid #b00020;
  border-radius: 10px;
  font-size: 15px;
  @media screen and (min-width: 768px) {
    margin: 50px auto;
  }
}

.error-message__icon {
  min-width: 30px;
  height: 30px;
  display: inline;
  fill: #b00020;
}

.error-message__text {
  margin: 0;
  line-height: 1;
}