$color-primary: #3AAEE3;
$color-secondary: #53A8DD;
$color-background: #E8EAE9;
$color-surface: #1F3B71;
$color-white: #fff;
$color-link: #3499CE;
$color-text: #000;
$color-error: #b00020;
$color-background-error: #ffecec;

$font-family-main: Roboto, sans-serif;
$font-size-base: 16px;

$radius-button: 10px 0 10px 0;
$radius-card: 40px;
$radius-box: 10px;

$breakpoint-md: 768px;
$breakpoint-lg: 1200px;